01-Scientific[[:space:]]Papers[[:space:]]as[[:space:]]Code.docx filter=lfs diff=lfs merge=lfs -text
01-Scientific[[:space:]]Papers[[:space:]]as[[:space:]]Code.pdf filter=lfs diff=lfs merge=lfs -text
Why[[:space:]]House[[:space:]]of[[:space:]]Cards?[[:space:]].docx filter=lfs diff=lfs merge=lfs -text
